<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About Library Carpentry</h2>
<!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
      </div>
    </div>
      <div class="row">
        <div class="col-lg-12">
            <ul class="timeline">
              <li>
            <div class="timeline-image">
        <img class="img-circle img-responsive" src="img/about/1_1.jpg" alt="">
            </div>
        <div class="timeline-panel">
        <div class="timeline-heading">
        <h4>What is Library Carpentry?</h4>
  <!-- <h4 class="subheading">Our Humble Beginnings</h4> -->
        </div>
        <div class="timeline-body">
        <p class="text-muted">Library Carpentry is software and data skills training designed to help library professionals work more efficiently in their roles, and to teach the skills learned at a workshop to others, for example, colleagues, students, and researchers. Training takes place in face-to-face workshops. Lesson materials are made available online, under a CC BY license, for self-directed study or for adaptation and re-use by library professionals.</p>
      </div>
    </div>
      </li>
      <li class="timeline-image">
      <div class="timeline-image">
      <img class="img-circle img-responsive" src="img/about/2_1.jpg" alt="">
      </div>
      <div class="timeline-panel">
      <div class="timeline-heading">
      <h4>Who owns Library Carpentry?</h4>
<!-- <h4 class="subheading">Our Humble Beginnings</h4> -->
        <p class="text-muted">Though Library Carpentry is not currently tied to any institution or person, the project may at some future stage merge with <a href="https://carpentries.org/">The Carpentries</a> (Software Carpentry and Data Carpentry). Regardless, Library Carpentry will remain a distinct lesson project that welcomes participation and contributions from the community.</p>
        </div>
      </div>
        </li>
        <li class="timeline-inverted">
        <div class="timeline-image">
        <img class="img-circle img-responsive" src="img/about/3_1.jpg" alt="">
        </div>
        <div class="timeline-panel">
        <div class="timeline-heading">
        <h4>What is a Library Carpentry Workshop?</h4>
  <!-- <h4 class="subheading">An Agency is Born</h4> -->
        </div>
        <div class="timeline-body">
        <p class="text-muted">A Library Carpentry workshop comprises one or more half-day, face-to-face sessions where one or more of the currently developed modules are taught. Ideally, three modules (e.g, Data Intro, Shell, OpenRefine) will be taught in a workshop, but this is not currently mandatory for a workshop to be badged as Library Carpentry. (The issue of exactly what comprises a workshop is under current discussion.) Workshop organisers may choose to add extra modules from the less 'stable' lessons. If so, we would appreciate feedback on that material as it is still under development. Raise an issue against the appropriate repository. Workshops are interactive. Ideally attendees will bring their own laptops to workshops so that skills learnt can be replicated after the workshop without the need for any additional setup or software installation.</p>

      </div>
    </div>
      </li>
      <li class="timeline-inverted">
      <div class="timeline-image">
      <img class="img-circle img-responsive" src="img/about/4_1.jpg" alt="">
      </div>
      <div class="timeline-panel">
      <div class="timeline-heading">
      <h4>How are Workshops )rganised?</h4>
<!-- <h4 class="subheading">An Agency is Born</h4> -->
        <p class="text-muted">Workshops are run by a team. Ideally this will consist of:</p>
          <ul class="text-muted"><li>a Host (who is the principal local contact for the workshop and who negotiates with Instructors about what lessons will be taught)</li>
          <li>Instructors (who present the lessons and lead the practical exercises)</li>
          <li>Helpers (who provide assistance to learners during practical sessions). Workshops can be any size but it is recommended that the helper-to-learners ratio not exceed 1:8.</li></ul>
        <p class="text-muted">To maintain the quality of Library Carpentry workshops, it is highly recommended that a Carpentries-certified instructor is present at each workshop. For more about Carpentries instructors and instructor training, see <a href="http://carpentries.github.io/instructor-training/">this curriculum.</a></p>
            </div>
        </div>
            </li>
            <li>
        <div class="timeline-image">
            <img class="img-circle img-responsive" src="img/about/1_1.jpg" alt="">
        </div>
        <div class="timeline-panel">
        <div class="timeline-heading">
          <h4>What is a Lesson?</h4>
  <!-- <h4 class="subheading">Transition to Full Service</h4> -->
        </div>
        <div class="timeline-body">
          <p class="text-muted">A Library Carpentry lesson is a set of training materials that can be used to run face-to-face training sessions or as self-directed learning. Each lesson comprises 3-4 sections, is interactive, works across Windows, Mac OS X, and Linux operating systems (with all setup instructions included) and has a combination of follow-my-leader sections and exercises (and additional exercises) that map to library practices. Lessons introduce software and concepts relevant to librarians and are based on open source software. Data used in exercises is library-related, e.g. bibliographic data.</p>
        </div>
      </div>
          </li>
          <li class="timeline-inverted">
      <div class="timeline-image">
          <img class="img-circle img-responsive" src="img/about/2_1.jpg" alt="">
            </div>
      <div class="timeline-panel">
            <div class="timeline-heading">
      <h4>Who is an instructor?</h4>
  <!-- <h4 class="subheading">Phase Two Expansion</h4> -->
          </div>
          <div class="timeline-body">
          <p class="text-muted">Currently, a Library Carpentry instructor is anyone willing to lead a Library Carpentry workshop. Instructors must additionally be prepared to observe The Carpentries <a href="https://docs.carpentries.org/topic_folders/policies/code-of-conduct.html">Code of Conduct</a> in workshops. In future, we hope all lead instructors for workshops will have undertaken <a href="http://carpentries.github.io/instructor-training/">The Carpentries Instructor Training</a>.</p>
        </div>
              </div>
        </li>
          <li>
              <div class="timeline-image">
      <img class="img-circle img-responsive" src="img/about/3_1.jpg" alt="">
          </div>
            <div class="timeline-panel">
      <div class="timeline-heading">
            <h4>How is Library Carpentry Managed?</h4>
  <!-- <h4 class="subheading">Our Humble Beginnings</h4> -->
            </div>
      <div class="timeline-body">
            <p class="text-muted">Library Carpentry was developed and is now maintained by volunteers. All activity is - at present - voluntary. An interim governance group has been formed to lead the project. For more on that, see this <a href="https://software-carpentry.org/blog/2018/02/library-carpentry-governance.html">blog post</a>. Management and maintenance are distributed. Each lesson is maintained by one of more individuals responsible for co-ordinating maintenance of that lesson. Changes to lessons are managed using GitHub Issues. Announcements and initial discussion take place in our <a href="https://gitter.im/LibraryCarpentry/Lobby">chatroom</a>. New members are welcome to join this community.</p>
      </div>
            </div>
            </li>
                          </ul>
            </div>
          </div>
        </div>
    </section>
