<!-- Clients Aside -->
    <section id="clients">
    <section class="clients">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Sponsors and Supporters</h2>
                    <!-- <h3 class="section-subheading text-muted">Current stable, beta and alpha lessons.</h3> -->
                </div>
            </div>                   
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p>Although Library Carpentry is not tied to any institution or person, it is associated with, and informally supported by, <a href="https://carpentries.org/">The Carpentries</a>, a merger of Software Carpentry and Data Carpentry, non-profit volunteer projects whose members teach foundational coding and data science skills to researchers.</p>
                    <p>Library Carpentry has received funding from the <a href="http://software.ac.uk/">Software Sustainability Institute</a>. The Software Sustainability Institute cultivates world-class research with software. The Institute is based at the universities of Edinburgh, Manchester, Southampton, and Oxford.</p>
                    <p>The <a href="https://www.imls.gov/">Institute of Museum and Library Services</a> has funded a <a href="https://www.imls.gov/grants/awarded/re-85-17-0121-17">two-year position</a> based at California Digital Library to support Library Carpentry development. 
                    <p>We are indebted to the <a href="https://www.city.ac.uk/department-library-information-science/centre-for-information-science">Centre for Information Science</a> at City University London for agreeing to host the <a href="https://cradledincaricature.com/2015/12/01/library-carpentry-in-words-and-numbers-all-code-no-woodwork/">first Library Carpentry programme</a> on November 2015.</p>
                    <p>Thanks also go to the <a href="https://www.nsla.org.au/">National and State Libraries of Australasia</a> (NSLA), who funded an all-capital-cities roadshow in Australia for Library Carpentry in 2017.</p>
                </div>
            </div>
                <div>
                </div>
            <div class="row col-md-offset-4">
               
                <div class="col-sm-2">
                    <a href="https://carpentries.org/">
                        <img src="img/logos/TheCarpentries.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>

                <div class="col-sm-2">
                    <a href="http://software.ac.uk/">
                        <img src="img/logos/SSILogo4Citations-small.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
            <div class="row col-md-offset-4">
          <div class="col-sm-2">
                    <a href="https://www.imls.gov/">
                        <img src="img/logos/imls.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                                 <div class="col-sm-2">
                    <a href="https://www.nsla.org.au/">
                        <img src="img/logos/nsla.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>

            </div>
        </div>
    </section>
